@tailwind base;
@tailwind components;
@tailwind utilities;

  
body{
  background-color: #f9fbfd;
  font-size: 15px;
  
}
button:focus-visible{
  outline: none
}
.leftSidebar {
  @apply justify-start
}
.rightSidebar {
  @apply justify-end 
}
.center{
  @apply justify-center items-center 
}

.heightFullSidebar {
  @apply h-full inset-y-0 ;
}
.showTimes {
  @apply flex flex-col  py-1 border cursor-pointer border-slate-800 outline-none rounded-md items-center hover:text-white hover:bg-slate-800 ;
}

a{
  cursor: pointer;
}

.text-title {
  @apply text-center font-medium text-lg ;
}
.sprite {
  transform:  rotateY(-96deg)  rotateZ(-100deg)
}

.preverse{
  margin-top: 6px;
  left:-11px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.hot{
  left:-2px;
  z-index: 5;
}

.seat-selected {
  @apply bg-green-500 block  shadow-[0_0_11px_#00b300] rounded-sm
}
.seat-area{
  @apply  block rounded-sm 
}
.seat-row{
  @apply bg-gray-600  rounded-sm   text-center text-white text-sm
}
.taken {
  background: repeating-linear-gradient(45deg,hsla(0,0%,60%,.4),hsla(0,0%,60%,.4) 10px,hsla(0,0%,60%,.6) 0,hsla(0,0%,60%,.6) 20px);
}


.w-row-seat{
  width: 566px;
}

.button-circle {
  @apply w-7 h-7 rounded-full border border-gray-200 hover:border-gray-300 hover:bg-slate-200  focus:shadow-[0_0_0_0.15rem_rgba(223,226,230,0.5)] active:bg-slate-200
}

.scrollbars::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

.scrollbars::-webkit-scrollbar {
  width: 6px;
}

.scrollbars::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


